.services {
  width: 100%;
  height: 2038px;
  margin: 92px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .services .path-line {
    width: 662px;
    height: 1214px;
    background-image: url(../images/services/Path.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1; }
    .services .path-line .scroll-point {
      width: 12px;
      height: 12px;
      background: #29A0EC;
      border-radius: 50%;
      position: absolute;
      top: 0px;
      left: 0px;
      offset-path: path("M22.9998 1C22.9998 1 649.558 119 663 589.542C655.833 1135 1 1215 1 1215"); }
      .services .path-line .scroll-point::before {
        content: "";
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        top: -55%;
        left: -55%;
        background-color: #29A0EC;
        opacity: .3; }
  .services-section {
    width: 100%;
    height: 624px;
    display: flex;
    justify-content: space-around; }
    .services-section .tracker {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .services-section .tracker .services_img {
        width: 522px;
        height: 522px;
        background-image: url(../images/services/Oval.png);
        display: flex;
        justify-content: center;
        align-items: center; }
        .services-section .tracker .services_img .img-background {
          border: 65px solid #EBF3ED;
          border-radius: 50%;
          margin: auto;
          width: 398px;
          height: 398px;
          position: relative; }
          .services-section .tracker .services_img .img-background .img-phone {
            width: 413px;
            height: 624px;
            background: url(../images/services/Bitmap.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: -120px;
            left: -70px; }
          .services-section .tracker .services_img .img-background .phone-classify {
            transform: rotate(18deg); }
      .services-section .tracker .services-content {
        width: 574px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .services-section .tracker .services-content_title {
          font-family: Poppins;
          font-style: normal;
          font-weight: 800;
          font-size: 38px;
          line-height: 51px;
          letter-spacing: 0.4px;
          color: #00A031; }
        .services-section .tracker .services-content_text {
          margin: 28px 0;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #6C6C6C; }
        .services-section .tracker .services-content_list ul {
          list-style-type: none; }
          .services-section .tracker .services-content_list ul li {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #6C6C6C; }
        .services-section .tracker .services-content_button {
          width: 208px;
          height: 54px;
          background: none;
          border: 2px solid #00A031;
          box-sizing: border-box;
          border-radius: 28px;
          position: relative;
          font-family: Gilroy;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          color: #00A031;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 32px 0;
          padding: 0 20px;
          outline: none; }
          .services-section .tracker .services-content_button:hover {
            cursor: pointer;
            background: #00a030c5;
            color: #ffffff; }
    .services-section .classify {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between; }
      .services-section .classify .services_img {
        width: 522px;
        height: 522px;
        background-image: url(../images/services/Oval.png);
        display: flex;
        justify-content: center;
        align-items: center; }
        .services-section .classify .services_img .img-background {
          border: 65px solid #EBF3ED;
          border-radius: 50%;
          margin: auto;
          width: 398px;
          height: 398px;
          position: relative; }
          .services-section .classify .services_img .img-background .img-phone {
            width: 413px;
            height: 624px;
            background: url(../images/services/Bitmap.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: -120px;
            left: -70px; }
          .services-section .classify .services_img .img-background .phone-classify {
            transform: rotate(18deg); }
      .services-section .classify .services-content {
        width: 574px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .services-section .classify .services-content_title {
          font-family: Poppins;
          font-style: normal;
          font-weight: 800;
          font-size: 38px;
          line-height: 51px;
          letter-spacing: 0.4px;
          color: #00A031; }
        .services-section .classify .services-content_text {
          margin: 28px 0;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #6C6C6C; }
        .services-section .classify .services-content_list ul {
          list-style-type: none; }
          .services-section .classify .services-content_list ul li {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #6C6C6C; }
        .services-section .classify .services-content_button {
          width: 208px;
          height: 54px;
          background: none;
          border: 2px solid #00A031;
          box-sizing: border-box;
          border-radius: 28px;
          position: relative;
          font-family: Gilroy;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          color: #00A031;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 32px 0;
          padding: 0 20px;
          outline: none; }
          .services-section .classify .services-content_button:hover {
            cursor: pointer;
            background: #00a030c5;
            color: #ffffff; }
    .services-section .claim {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      .services-section .claim .services_img {
        width: 522px;
        height: 522px;
        background-image: url(../images/services/Oval.png);
        display: flex;
        justify-content: center;
        align-items: center; }
        .services-section .claim .services_img .img-background {
          border: 65px solid #EBF3ED;
          border-radius: 50%;
          margin: auto;
          width: 398px;
          height: 398px;
          position: relative; }
          .services-section .claim .services_img .img-background .img-phone {
            width: 413px;
            height: 624px;
            background: url(../images/services/Bitmap.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: -120px;
            left: -70px; }
          .services-section .claim .services_img .img-background .phone-classify {
            transform: rotate(18deg); }
      .services-section .claim .services-content {
        width: 574px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .services-section .claim .services-content_title {
          font-family: Poppins;
          font-style: normal;
          font-weight: 800;
          font-size: 38px;
          line-height: 51px;
          letter-spacing: 0.4px;
          color: #00A031; }
        .services-section .claim .services-content_text {
          margin: 28px 0;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #6C6C6C; }
        .services-section .claim .services-content_list ul {
          list-style-type: none; }
          .services-section .claim .services-content_list ul li {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #6C6C6C; }
        .services-section .claim .services-content_button {
          width: 208px;
          height: 54px;
          background: none;
          border: 2px solid #00A031;
          box-sizing: border-box;
          border-radius: 28px;
          position: relative;
          font-family: Gilroy;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          color: #00A031;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 32px 0;
          padding: 0 20px;
          outline: none; }
          .services-section .claim .services-content_button:hover {
            cursor: pointer;
            background: #00a030c5;
            color: #ffffff; }

/*# sourceMappingURL=services.css.map */
